<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
	<script type="text/javascript" src="controller_tests.js"></script>
	<title>Angular tests</title>
</head>
<body>
	<div ng-controller="HelloController">
		<input ng-model="greeting.text">
		<input type="button" ng-click="resetToDefault()" value="clear">
		<p>{{greeting.text}}, World!</p>
	</div>

	<div ng-controller="MenuController">
		<button ng-click='toggleMenu()'>Menu</button>
		<ul ng-show="menuState.show">
			<li>Menu 1</li>
			<li>Menu 2</li>
			<li>Menu 3</li>
		</ul>
	</div>

</body>
</html>