<!DOCTYPE html>
<html ng-app>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>Zongset Test UI</title>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
</head>

<body>

<div>
	<input type="search" ng-model="search">
</div>

<div ng-controller="ListSongs">
	<ul>
		<li ng-repeat="song in songs">{{song.name}}</li>
	</ul>
</div>

<script type="text/javascript">

	var ListSongs = function($scope, $http) {

		$http.get('http://itunes.apple.com/lookup?id=400274934').success(function (data) {
			console.log('Data received : ' + data);
		});



		$scope.songs = [
			{name: "onix 1"},
			{name: "onix 2"},
			{name: "onix 3"}
		];
	};

</script>


</body>
</html>

